### Explore Data From 2018 and 2019 Challenges

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import os

base = os.getcwd()

['Digilog',
 'IUACAAS',
 'Automatoes',
 'TheAutomators',
 'Economics.pdf',
 'Weather',
 'AICU',
 'ReadMe.pdf',
 'Reference']

Data for 2018 Cucumber Challenge: 

https://data.4tu.nl/articles/dataset/Autonomous_Greenhouse_Challenge_First_Edition_2018_/12717758/1

In [7]:
# list of files in the publicly available dataset
os.listdir(base+'/ag_data_2018')

['Reference(Growers)',
 '.DS_Store',
 'iGrow',
 'meteo.csv',
 'DeepGreens',
 'Croperators',
 'teams_2018.pdf',
 'Sonoma',
 '.ipynb_checkpoints',
 'AiCU',
 'ReadMe.pdf']

In [10]:
weather2018 = pd.read_csv(base + '/ag_data_2018/meteo.csv')
weather2018.head()

,time,AbsHumOut,Iglob,PARout,Pyrgeo,RadSum,Rain,Rhout,Tout,Winddir,Windsp
0,8/14/2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8/14/2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8/14/2018,13.369189,0.0,0.0,-32.000000,0.0,0.0,87.8,17.7,32.0,3.2
3,8/14/2018,13.389380,0.0,0.0,-36.000000,0.0,0.0,87.4,17.8,32.0,3.2
4,8/14/2018,13.455197,0.0,1.0,-38.999999,0.0,0.0,87.3,17.9,32.0,3.2

Data for 2019 Cherry Tomato Challenge: 

https://data.4tu.nl/articles/dataset/Autonomous_Greenhouse_Challenge_Second_Edition_2019_/12764777/2

In [8]:
# list of files in the publicly available dataset
os.listdir(base+'/ag_data_2019')

['Digilog',
 'IUACAAS',
 'Automatoes',
 'TheAutomators',
 'Economics.pdf',
 'Weather',
 'AICU',
 'ReadMe.pdf',
 'Reference']

In [11]:
weather2018 = pd.read_csv(base + '/ag_data_2019/Weather/weather.csv')
weather2018.head()

,%time,AbsHumOut,Iglob,PARout,Pyrgeo,RadSum,Rain,Rhout,Tout,Winddir,Windsp
0,43815.00000,6.220954,0.0,0.0,-72.0,215.0,0.0,80.6,6.9,32.0,4.7
1,43815.00347,6.220954,0.0,0.0,-73.0,0.0,0.0,80.6,6.9,32.0,4.7
2,43815.00694,6.205565,0.0,0.0,-76.0,0.0,0.0,80.4,6.9,32.0,4.7
3,43815.01042,6.190173,0.0,0.0,-77.0,0.0,0.0,80.2,6.9,32.0,4.7
4,43815.01389,6.162624,0.0,0.0,-75.0,0.0,0.0,80.9,6.7,32.0,4.7